In [1]:
import pandas as pd
import seaborn as sns

In [23]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 110)

#### Let's import the CSV:

In [5]:
data = pd.read_csv('./data/fifa_dataset_v1.csv', index_col='id')

/home/ccastrob/anaconda3/envs/ironhack2/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3417: DtypeWarning: Columns (68) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
data.head()

,age,ova,nationality,club,bov,bp,pot,height,weight,growth,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
id,,,,,,,,,,,,,,,,,,,,,
16,37,71,Spain,KAS Eupen,70,CM,71,"5'10""",143lbs,0,...,66+1,66+1,66+1,62+1,60+1,60+1,60+1,60+1,60+1,17+1
41,36,81,Spain,Vissel Kobe,82,CAM,81,"5'7""",150lbs,0,...,73+3,73+3,73+3,70+3,67+3,64+3,64+3,64+3,67+3,17+3
80,38,77,Turkey,Fenerbahçe SK,77,CM,77,"5'7""",159lbs,0,...,72+2,72+2,72+2,66+2,64+2,65+2,65+2,65+2,64+2,16+2
330,35,80,Republic of Ireland,LA Galaxy,81,CF,80,"5'9""",161lbs,0,...,57+1,57+1,57+1,57+1,52+1,47+1,47+1,47+1,52+1,20+1
1179,42,82,Italy,Juventus,82,GK,82,"6'4""",203lbs,0,...,33+3,33+3,33+3,28+3,26+3,29+3,29+3,29+3,26+3,80+2

In [11]:
data.shape

(16414, 95)

In [27]:
### Cool way to standarize columns names:

"""
data1 = data.copy()
new_columns = [col.upper().replace('_',' ') for col in data1.columns]
data1.columns = new_columns 
"""

"\ndata1 = data.copy()\nnew_columns = [col.upper().replace('_',' ') for col in data1.columns]\ndata1.columns = new_columns \n"

#### Splitting target variable and features:

In [7]:
y=data['ova']

In [220]:
X=data.drop('ova', axis=1, inplace=True)

KeyError: "['ova'] not found in axis"

In [219]:
print(y.shape, X.shape)

AttributeError: 'NoneType' object has no attribute 'shape'

#### Splitting categorical features and numerical features:

In [221]:
X_cat = data.select_dtypes(include=object)
X_num = data.select_dtypes(exclude=object)

In [222]:
X_cat.head()

,nationality,club,bp,height,weight,value,wage,release_clause,w/f,sm,a/w,d/w,ir,hits,ls,st,rs,lw,lf,cf,rf,rw,lam,cam,ram,lm,lcm,cm,rcm,rm,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
16,Spain,KAS Eupen,CM,"5'10""",143lbs,€600K,€7K,€1.1M,4 ★,3★,Medium,Medium,1 ★,4,67+1,67+1,67+1,67+0,68+0,68+0,68+0,67+0,70+1,70+1,70+1,68+1,70+1,70+1,70+1,68+1,62+1,66+1,66+1,66+1,62+1,60+1,60+1,60+1,60+1,60+1,17+1
41,Spain,Vissel Kobe,CAM,"5'7""",150lbs,€5.5M,€12K,€7.2M,4 ★,4★,High,Medium,4 ★,149,72+3,72+3,72+3,79+0,79+0,79+0,79+0,79+0,82+-1,82+-1,82+-1,79+2,81+0,81+0,81+0,79+2,70+3,73+3,73+3,73+3,70+3,67+3,64+3,64+3,64+3,67+3,17+3
80,Turkey,Fenerbahçe SK,CM,"5'7""",159lbs,€2.8M,€44K,€5.3M,4 ★,4★,Medium,Medium,2 ★,7,66+2,66+2,66+2,72+0,72+0,72+0,72+0,72+0,75+2,75+2,75+2,72+2,76+1,76+1,76+1,72+2,66+2,72+2,72+2,72+2,66+2,64+2,65+2,65+2,65+2,64+2,16+2
330,Republic of Ireland,LA Galaxy,CF,"5'9""",161lbs,€5.5M,€10K,€0,4 ★,3★,High,Low,2 ★,10,79+1,79+1,79+1,79+0,81+-1,81+-1,81+-1,79+0,81+-1,81+-1,81+-1,78+1,74+1,74+1,74+1,78+1,57+1,57+1,57+1,57+1,57+1,52+1,47+1,47+1,47+1,52+1,20+1
1179,Italy,Juventus,GK,"6'4""",203lbs,€2.2M,€41K,€3.6M,2 ★,1★,Medium,Medium,4 ★,154,31+3,31+3,31+3,30+0,33+0,33+0,33+0,30+0,34+3,34+3,34+3,32+3,35+3,35+3,35+3,32+3,28+3,33+3,33+3,33+3,28+3,26+3,29+3,29+3,29+3,26+3,80+2

In [42]:
X_cat['nationality'].nunique()

165

In [ ]:
X_cat['']

In [51]:
for col in X_cat.columns:
    print(f'Number of unique values in {col}: {X_cat[col].nunique()}')

Number of unique values in nationality: 165
Number of unique values in club: 868
Number of unique values in bp: 15
Number of unique values in height: 21
Number of unique values in weight: 56
Number of unique values in value: 215
Number of unique values in wage: 141
Number of unique values in release_clause: 1193
Number of unique values in w/f: 5
Number of unique values in sm: 5
Number of unique values in a/w: 3
Number of unique values in d/w: 3
Number of unique values in ir: 5
Number of unique values in hits: 545
Number of unique values in ls: 246
Number of unique values in st: 246
Number of unique values in rs: 246
Number of unique values in lw: 160
Number of unique values in lf: 144
Number of unique values in cf: 144
Number of unique values in rf: 144
Number of unique values in rw: 160
Number of unique values in lam: 289
Number of unique values in cam: 289
Number of unique values in ram: 289
Number of unique values in lm: 271
Number of unique values in lcm: 242
Number of unique values in cm: 242
Number of unique values in rcm: 242
Number of unique values in rm: 271
Number of unique values in lwb: 241
Number of unique values in ldm: 274
Number of unique values in cdm: 274
Number of unique values in rdm: 274
Number of unique values in rwb: 241
Number of unique values in lb: 230
Number of unique values in lcb: 283
Number of unique values in cb: 283
Number of unique values in rcb: 283
Number of unique values in rb: 230
Number of unique values in gk: 129

#### Let's explain a little bit about what we will do with each categorical column:
- __Nationality__: Grouping.
- __club__: DROP.
- __bp__: remain as it is.
- __height__: Transform to numerical.
- __weight__: Transform to numerical.
- __value__: Transform to numerical.
- __wage__: Transform to numerical.
- __release_clause__: Transform to numerical.
- __w/f__: Transform to numerical labels.
- __sm__: Transform to numerical labels.
- __a/w__: Transform to numerical labels.
- __d/w__: Transform to numerical labels.
- __ir__: Transform to numerical labels.
- __hits__: Transform to numerical.
- __others__: Keep the first number and cut off the potential.

#### Let's check the 25 countries with most players:

In [71]:
data['nationality'].value_counts().head(25)

England                1646
Germany                1123
Spain                  1081
France                  947
Brazil                  763
Argentina               744
Italy                   522
Netherlands             459
Portugal                347
United States           346
Uruguay                 323
Mexico                  320
Colombia                296
Japan                   295
Poland                  281
Scotland                264
Republic of Ireland     262
Belgium                 256
Sweden                  252
Norway                  252
Denmark                 246
Austria                 238
Turkey                  218
Switzerland             201
Paraguay                176
Name: nationality, dtype: int64

#### Cleaning function for 'nationality' variable:

In [86]:
def cleaning_nationality(country):
    top25 = ['England', 'Germany', 'Spain', 'France', 'Brazil', 'Argentina', 'Italy', 'Netherlands', 'Portugal', 'United States',
            'Uruguay', 'Mexico', 'Colombia', 'Japan', 'Poland', 'Scotland', 'Republic of Ireland', 'Belgium', 'Sweden', 'Norway',
            'Denmark', 'Austria', 'Turkey', 'Switzerland', 'Paraguay']
    
    if country in top25:
        country = country.lower().replace(' ','_')
    else:
        country = 'other'
    
    return country

#### Cleaning function for 'height' variable:

In [97]:
def cleaning_height(height):
    converted_height = float(height.split("'")[0])*30.48 + float(height.split("'")[1][:-1])*2.54
    return converted_height

#### Cleaning function for 'weight' variable:

In [109]:
def cleaning_weight(weight):
    converted_weight = float(weight[:-3])*0.4536
    return converted_weight

#### Cleaning function for 'wage' and 'release_clause':

In [128]:
def cleaning_money(money):
    if money[-1:] == '0':
        return 0
    elif money[-1:] == 'K':
        return float(money[1:-1])*1000
    elif money[-1:] == 'M':
        return float(money[1:-1])*1000000

#### Cleaning function for 'w/f', 'sm', 'ir':

In [138]:
def cleaning_stars(stars):
    return int(stars[:1])-1

#### Cleaning function for 'a/w', 'd/w':

In [140]:
def cleaning_rating(rating):
    if rating == 'High':
        return 2
    elif rating == 'Medium':
        return 1
    else:
        return 0

#### Cleaning function for 'hits':

In [187]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16414 entries, 16 to 259105
Data columns (total 94 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               16414 non-null  int64
 1   ova               16414 non-null  int64
 2   nationality       16414 non-null  object
 3   bov               16414 non-null  int64
 4   bp                16414 non-null  object
 5   pot               16414 non-null  int64
 6   height            16414 non-null  float64
 7   weight            16414 non-null  float64
 8   growth            16414 non-null  int64
 9   value             16414 non-null  object
 10  wage              16414 non-null  float64
 11  release_clause    16414 non-null  float64
 12  attacking         16414 non-null  int64
 13  crossing          16414 non-null  int64
 14  finishing         16414 non-null  int64
 15  heading_accuracy  16414 non-null  int64
 16  short_passing     16414 non-null  int64
 17  volleys           16414 non-null  float64
 18  skill             16414 non-null  int64
 19  dribbling         16414 non-null  int64
 20  curve             16414 non-null  float64
 21  fk_accuracy       16414 non-null  int64
 22  long_passing      16414 non-null  int64
 23  ball_control      16414 non-null  int64
 24  movement          16414 non-null  int64
 25  acceleration      16414 non-null  int64
 26  sprint_speed      16414 non-null  int64
 27  agility           16414 non-null  float64
 28  reactions         16414 non-null  int64
 29  balance           16414 non-null  float64
 30  power             16414 non-null  int64
 31  shot_power        16414 non-null  int64
 32  jumping           16414 non-null  float64
 33  stamina           16414 non-null  int64
 34  strength          16414 non-null  int64
 35  long_shots        16414 non-null  int64
 36  mentality         16414 non-null  int64
 37  aggression        16414 non-null  int64
 38  interceptions     16414 non-null  float64
 39  positioning       16414 non-null  float64
 40  vision            16414 non-null  float64
 41  penalties         16414 non-null  int64
 42  composure         16414 non-null  float64
 43  defending         16414 non-null  int64
 44  marking           16414 non-null  int64
 45  standing_tackle   16414 non-null  int64
 46  sliding_tackle    16414 non-null  float64
 47  goalkeeping       16414 non-null  int64
 48  gk_diving         16414 non-null  int64
 49  gk_handling       16414 non-null  int64
 50  gk_kicking        16414 non-null  int64
 51  gk_positioning    16414 non-null  int64
 52  gk_reflexes       16414 non-null  int64
 53  total_stats       16414 non-null  int64
 54  base_stats        16414 non-null  int64
 55  w/f               16414 non-null  int64
 56  sm                16414 non-null  int64
 57  a/w               16414 non-null  int64
 58  d/w               16414 non-null  int64
 59  ir                16414 non-null  int64
 60  pac               16414 non-null  int64
 61  sho               16414 non-null  int64
 62  pas               16414 non-null  int64
 63  dri               16414 non-null  int64
 64  def               16414 non-null  int64
 65  phy               16414 non-null  int64
 66  hits              16414 non-null  float64
 67  ls                16414 non-null  object
 68  st                16414 non-null  object
 69  rs                16414 non-null  object
 70  lw                16414 non-null  object
 71  lf                16414 non-null  object
 72  cf                16414 non-null  object
 73  rf                16414 non-null  object
 74  rw                16414 non-null  object
 75  lam               16414 non-null  object
 76  cam               16414 non-null  object
 77  ram               16414 non-null  object
 78  lm                16414 non-null  object
 79  lcm               16414 non-null  object
 80  cm                16414 non-null  object
 81  rcm               16414 non-null  object
 82  rm                16414 non-null  object
 83  lwb               16414 non-null  object
 84  ldm               16414 non-null  object
 85  cdm               16414 non-null  object
 86  rdm               16414 non-null  object
 87  rwb               16414 non-null  object
 88  lb                16414 non-null  object
 89  lcb               16414 non-null  object
 90  cb                16414 non-null  object
 91  rcb               16414 non-null  object
 92  rb                16414 non-null  object
 93  gk                16414 non-null  object
dtypes: float64(15), int64(49), object(30)
memory usage: 12.4+ MB

In [167]:
def cleaning_hits(hits):
    if type(hits) == int:
        return float(hits)
    else:
        if hits[-1:] == 'K':
            return float(hits[:-1])*1000
        else:
            return float(hits)

In [189]:
data1['value'].unique()

array(['€600K', '€5.5M', '€2.8M', '€2.2M', '€1.5M', '€325K', '€900K',
       '€3M', '€500K', '€0', '€850K', '€45K', '€575K', '€1.3M', '€1.6M',
       '€375K', '€3.4M', '€1.8M', '€4.2M', '€350K', '€5M', '€6.5M', '€1M',
       '€80K', '€1.4M', '€450K', '€240K', '€400K', '€550K', '€6M',
       '€3.9M', '€46M', '€30K', '€275K', '€15K', '€190K', '€100K',
       '€210K', '€9.5M', '€425K', '€1.1M', '€675K', '€475K', '€2.4M',
       '€925K', '€4.7M', '€4.5M', '€50K', '€775K', '€170K', '€130K',
       '€1.2M', '€2.6M', '€7M', '€2.9M', '€3.2M', '€8.5M', '€180K',
       '€140K', '€625K', '€3K', '€4.3M', '€10K', '€2.5M', '€300K', '€13M',
       '€150K', '€1.7M', '€875K', '€250K', '€35K', '€750K', '€3.7M',
       '€110K', '€700K', '€3.6M', '€29.5M', '€4.1M', '€200K', '€3.5M',
       '€2.1M', '€3.8M', '€800K', '€3.1M', '€650K', '€15.5M', '€2M',
       '€9M', '€10.5M', '€70K', '€725K', '€20K', '€2.7M', '€950K',
       '€34.5M', '€2.3M', '€4.8M', '€11M', '€7.5M', '€220K', '€120K',
       '€90K', '€21M', '€1.9M', '€53M', '€4.9M', '€160K', '€24.5M',
       '€4.4M', '€525K', '€16.5M', '€230K', '€8M', '€10M', '€67.5M',
       '€4M', '€15M', '€16M', '€17M', '€825K', '€21.5M', '€11.5M',
       '€3.3M', '€60K', '€29M', '€20.5M', '€27M', '€22.5M', '€19.5M',
       '€12.5M', '€13.5M', '€12M', '€24M', '€31.5M', '€23.5M', '€30M',
       '€28.5M', '€19M', '€20M', '€33M', '€14M', '€35.5M', '€37M',
       '€4.6M', '€8K', '€14.5M', '€55M', '€58M', '€36.5M', '€39M', '€18M',
       '€26M', '€34M', '€25K', '€975K', '€25M', '€22M', '€30.5M', '€80M',
       '€45M', '€18.5M', '€32M', '€38M', '€42M', '€90M', '€17.5M', '€56M',
       '€48.5M', '€69.5M', '€33.5M', '€87M', '€32.5M', '€25.5M', '€50.5M',
       '€50M', '€27.5M', '€37.5M', '€40.5M', '€31M', '€52.5M', '€59.5M',
       '€75M', '€46.5M', '€52M', '€71M', '€72.5M', '€75.5M', '€23M',
       '€26.5M', '€47.5M', '€44M', '€38.5M', '€78M', '€28M', '€54.5M',
       '€39.5M', '€35M', '€53.5M', '€41M', '€49.5M', '€63M', '€65M',
       '€62.5M', '€51M', '€36M', '€60M', '€44.5M', '€51.5M', '€49M',
       '€40K', '€42.5M', '€41.5M', '€105.5M', '€57M', '€5K'], dtype=object)

#### Cleaning function for all the skills:

In [198]:
def cleaning_skills(skill):
    return int(skill.split('+')[0])

#### Master cleaning function:

In [211]:
def cleaning_categoricals(df):
    df['nationality'] = df['nationality'].apply(cleaning_nationality)
    df.drop('club', axis=1, inplace=True)
    df['height'] = df['height'].apply(cleaning_height)
    df['weight'] = df['weight'].apply(cleaning_weight)
    df['release_clause'] = df['release_clause'].apply(cleaning_money)
    df['wage'] = df['wage'].apply(cleaning_money)
    df['value'] = df['value'].apply(cleaning_money)
    df['w/f'] = df['w/f'].apply(cleaning_stars)
    df['sm'] = df['sm'].apply(cleaning_stars)
    df['ir'] = df['ir'].apply(cleaning_stars)
    df['a/w'] = df['a/w'].apply(cleaning_rating)
    df['d/w'] = df['d/w'].apply(cleaning_rating)
    df['hits'] = df['hits'].apply(cleaning_hits)
    
    skills_columns = ['ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram', 'lm', 'lcm',
    'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb',
    'rcb', 'rb', 'gk']
    
    for col in skills_columns:
        df[col] = df[col].apply(cleaning_skills)
    
    return df

In [212]:
X_cat.head()

,nationality,club,bp,height,weight,value,wage,release_clause,w/f,sm,a/w,d/w,ir,hits,ls,st,rs,lw,lf,cf,rf,rw,lam,cam,ram,lm,lcm,cm,rcm,rm,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
16,Spain,KAS Eupen,CM,"5'10""",143lbs,€600K,€7K,€1.1M,4 ★,3★,Medium,Medium,1 ★,4,67+1,67+1,67+1,67+0,68+0,68+0,68+0,67+0,70+1,70+1,70+1,68+1,70+1,70+1,70+1,68+1,62+1,66+1,66+1,66+1,62+1,60+1,60+1,60+1,60+1,60+1,17+1
41,Spain,Vissel Kobe,CAM,"5'7""",150lbs,€5.5M,€12K,€7.2M,4 ★,4★,High,Medium,4 ★,149,72+3,72+3,72+3,79+0,79+0,79+0,79+0,79+0,82+-1,82+-1,82+-1,79+2,81+0,81+0,81+0,79+2,70+3,73+3,73+3,73+3,70+3,67+3,64+3,64+3,64+3,67+3,17+3
80,Turkey,Fenerbahçe SK,CM,"5'7""",159lbs,€2.8M,€44K,€5.3M,4 ★,4★,Medium,Medium,2 ★,7,66+2,66+2,66+2,72+0,72+0,72+0,72+0,72+0,75+2,75+2,75+2,72+2,76+1,76+1,76+1,72+2,66+2,72+2,72+2,72+2,66+2,64+2,65+2,65+2,65+2,64+2,16+2
330,Republic of Ireland,LA Galaxy,CF,"5'9""",161lbs,€5.5M,€10K,€0,4 ★,3★,High,Low,2 ★,10,79+1,79+1,79+1,79+0,81+-1,81+-1,81+-1,79+0,81+-1,81+-1,81+-1,78+1,74+1,74+1,74+1,78+1,57+1,57+1,57+1,57+1,57+1,52+1,47+1,47+1,47+1,52+1,20+1
1179,Italy,Juventus,GK,"6'4""",203lbs,€2.2M,€41K,€3.6M,2 ★,1★,Medium,Medium,4 ★,154,31+3,31+3,31+3,30+0,33+0,33+0,33+0,30+0,34+3,34+3,34+3,32+3,35+3,35+3,35+3,32+3,28+3,33+3,33+3,33+3,28+3,26+3,29+3,29+3,29+3,26+3,80+2

In [223]:
X_cat = cleaning_categoricals(X_cat)

<ipython-input-211-bf3e623dc3ab>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nationality'] = df['nationality'].apply(cleaning_nationality)
/home/ccastrob/anaconda3/envs/ironhack2/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
<ipython-input-211-bf3e623dc3ab>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['height'] = df['height'].apply(cleaning_height)
<ipython-input-211-bf3e623dc3ab>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['weight'] = df['weight'].apply(cleaning_weight)
<ipython-input-211-bf3e623dc3ab>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['release_clause'] = df['release_clause'].apply(cleaning_money)
<ipython-input-211-bf3e623dc3ab>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wage'] = df['wage'].apply(cleaning_money)
<ipython-input-211-bf3e623dc3ab>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['value'] = df['value'].apply(cleaning_money)
<ipython-input-211-bf3e623dc3ab>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['w/f'] = df['w/f'].apply(cleaning_stars)
<ipython-input-211-bf3e623dc3ab>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sm'] = df['sm'].apply(cleaning_stars)
<ipython-input-211-bf3e623dc3ab>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ir'] = df['ir'].apply(cleaning_stars)
<ipython-input-211-bf3e623dc3ab>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['a/w'] = df['a/w'].apply(cleaning_rating)
<ipython-input-211-bf3e623dc3ab>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['d/w'] = df['d/w'].apply(cleaning_rating)
<ipython-input-211-bf3e623dc3ab>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['hits'] = df['hits'].apply(cleaning_hits)
<ipython-input-211-bf3e623dc3ab>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].apply(cleaning_skills)

In [224]:
X_cat.head()

,nationality,bp,height,weight,value,wage,release_clause,w/f,sm,a/w,d/w,ir,hits,ls,st,rs,lw,lf,cf,rf,rw,lam,cam,ram,lm,lcm,cm,rcm,rm,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
16,spain,CM,177.80,64.8648,600000.0,7000.0,1100000.0,3,2,1,1,0,4.0,67,67,67,67,68,68,68,67,70,70,70,68,70,70,70,68,62,66,66,66,62,60,60,60,60,60,17
41,spain,CAM,170.18,68.0400,5500000.0,12000.0,7200000.0,3,3,2,1,3,149.0,72,72,72,79,79,79,79,79,82,82,82,79,81,81,81,79,70,73,73,73,70,67,64,64,64,67,17
80,turkey,CM,170.18,72.1224,2800000.0,44000.0,5300000.0,3,3,1,1,1,7.0,66,66,66,72,72,72,72,72,75,75,75,72,76,76,76,72,66,72,72,72,66,64,65,65,65,64,16
330,republic_of_ireland,CF,175.26,73.0296,5500000.0,10000.0,0.0,3,2,2,0,1,10.0,79,79,79,79,81,81,81,79,81,81,81,78,74,74,74,78,57,57,57,57,57,52,47,47,47,52,20
1179,italy,GK,193.04,92.0808,2200000.0,41000.0,3600000.0,1,0,1,1,3,154.0,31,31,31,30,33,33,33,30,34,34,34,32,35,35,35,32,28,33,33,33,28,26,29,29,29,26,80

In [225]:
X_num

,age,bov,pot,growth,attacking,crossing,finishing,heading_accuracy,short_passing,volleys,skill,dribbling,curve,fk_accuracy,long_passing,ball_control,movement,acceleration,sprint_speed,agility,reactions,balance,power,shot_power,jumping,stamina,strength,long_shots,mentality,aggression,interceptions,positioning,vision,penalties,composure,defending,marking,standing_tackle,sliding_tackle,goalkeeping,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,total_stats,base_stats,pac,sho,pas,dri,def,phy
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
16,37,70,71,0,337,68,64,61,76,68.0,369,69,79.0,79,71,71,305,56,50,62.0,65,72.0,324,75,54.0,64,60,71,362,71,71.0,72.0,73.0,75,79.0,153,70,43,40.0,56,9,12,13,11,11,1906,385,53,69,73,69,58,63
41,36,82,81,0,367,75,69,54,90,79.0,408,85,80.0,70,83,90,346,61,56,79.0,75,75.0,297,67,40.0,58,62,70,370,58,70.0,78.0,93.0,71,89.0,181,68,57,56.0,45,6,13,6,13,7,2014,420,58,70,85,85,63,59
80,38,77,77,0,342,80,66,43,84,69.0,406,77,83.0,80,85,81,308,54,36,67.0,70,81.0,340,77,72.0,51,64,76,384,87,62.0,65.0,85.0,85,80.0,190,65,65,60.0,47,7,11,7,14,8,2017,403,44,71,83,77,62,66
330,35,81,80,0,380,68,84,63,81,84.0,374,82,82.0,63,63,84,380,69,68,77.0,83,83.0,363,81,62.0,72,68,80,343,67,34.0,85.0,82.0,75,86.0,71,28,26,17.0,63,11,9,13,14,16,1974,407,68,82,75,82,31,69
1179,42,82,82,0,95,13,15,13,37,17.0,122,26,20.0,13,35,28,251,37,30,55.0,80,49.0,243,56,71.0,34,69,13,150,38,28.0,12.0,50.0,22,70.0,35,13,11,11.0,396,77,76,74,91,78,1292,429,77,76,74,78,33,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259088,22,66,69,5,197,35,23,66,47,26.0,193,44,26.0,33,34,56,243,52,55,46.0,48,42.0,279,48,70.0,59,74,28,218,69,58.0,23.0,29.0,39,46.0,198,61,71,66.0,39,11,8,8,5,7,1367,302,54,30,37,48,64,69
259090,18,58,66,10,248,50,43,50,64,41.0,264,57,42.0,50,61,54,298,61,63,52.0,54,68.0,271,51,62.0,53,57,48,259,51,50.0,55.0,53.0,50,46.0,132,34,42,56.0,57,12,15,7,12,11,1529,319,62,46,57,56,43,55
259091,18,56,67,11,218,55,34,53,42,34.0,212,52,43.0,34,36,47,308,66,61,54.0,59,68.0,233,28,61.0,53,54,37,256,58,55.0,49.0,45.0,49,43.0,163,55,54,54.0,40,8,7,5,12,8,1430,303,63,35,44,52,54,55
259101,20,62,73,11,223,62,26,52,60,23.0,258,55,43.0,46,57,57,349,72,70,74.0,56,77.0,261,51,72.0,57,48,33,257,61,58.0,46.0,56.0,36,54.0,180,57,62,61.0,51,15,13,8,6,9,1579,335,71,34,58,59,59,54
259105,18,61,74,15,254,32,64,59,45,54.0,235,57,45.0,48,30,55,317,68,72,59.0,53,65.0,288,58,62.0,55,52,61,224,32,11.0,64.0,50.0,67,57.0,35,12,12,11.0,48,5,10,9,15,9,1401,295,70,62,41,57,16,49